.editor {
  &__form {
    margin-top: 20px;
    padding: 0 20px 40px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60vw;
    box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.75);

    &_inputdate {
      width: 15rem;
      padding: 2px 2px 0px 2px;
      margin: 10px;
      border: none;
      border-bottom: 2px cadetblue outset;
      transition: all 1s ease;
      &:hover {
        border-bottom-color: coral;
      }
      &::-webkit-inner-spin-button {
        display: none;
      }
      &::-webkit-calendar-picker-indicator {
        position: relative;
        left: -22px;
        padding: 10px;
        font-size: 25px;
        color: cadetblue;
      }
      &::-webkit-datetime-edit {
        text-align: center;
      }
      &::-webkit-clear-button {
        position: relative;
        left: -22px;
        padding: 4px;
        margin-right: 10px;
      }
    }

    &_moodtitle {
      display: flex;
      flex-direction: column;
      margin: 5px;
      line-height: 2rem;
    }
    &_buttonsubmit {
      text-transform: uppercase;
      font-weight: bold;
      letter-spacing: 0.1rem;
      font-size: 18px;
      border-radius: 8px;
      margin: 20px 10px 10px 10px;
      width: 18rem;
      padding: 12px;
      color: white;
      cursor: pointer;
      transition: all 1s;
      background: cadetblue;
      &:disabled {
        background-color: #eff5f5;
        color: rgba(38, 63, 64, 0.4);
        cursor: default;
      }
    }

    &_returnbutton {
      color: white;
      font-weight: bold;
      text-transform: uppercase;
      border-radius: 24px;
      letter-spacing: 0.15rem;
      margin: 40px 0 0 0;
      padding: 10px 38px 10px 38px;
      background: cadetblue;
      transition: all 1s ease-out;
      &:hover {
        filter: invert(90%);
      }
    }

    &_today {
      background: cadetblue;
      padding: 8px;
      font-size: 15px;
      font-weight: bold;
      letter-spacing: 0.08rem;
      color: white;
      border-radius: 22px;
    }
  }
}

.backIcon {
  margin-right: 20px;
}
